{
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "loose": true,
      "useBuiltIns": true
    }]
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs", "transform-runtime"]
    }
  }
}
