{
  "env": {
      "browser": true,
      "node": true,
      "jest": true
  },
  "extends": "airbnb",
  "rules": {
      "jsx-a11y/no-static-element-interactions": 0,
      "linebreak-style": "off",
      "comma-dangle": ["error", "ignore"],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "import/no-extraneous-dependencies": [error, { devDependencies: true }],
      "react/prop-types": 0
  }
}
