{
  "extends": ["eslint:recommended", "react-app"],
  "plugins": ["prettier", "security"],
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "prettier/prettier": "warn",
    "linebreak-style": "off"
  }
}
