::-webkit-input-placeholder {
  color: #c6cedc;
}
::-moz-placeholder {
  color: #c6cedc;
}
:-ms-input-placeholder {
  color: #c6cedc;
}
:-moz-placeholder {
  color: #c6cedc;
}
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  background-color: #fff;
}
html {
  overflow-y: scroll;
}
body {
  background: #f6fafa;
}
@-webkit-keyframes select-radio {
  0% { transform: scale(1); }
  25% { transform: scale(0.9); }
  100% { transform: scale(1); }
}
@keyframes select-radio {
  0% { transform: scale(1); }
  25% { transform: scale(0.9); }
  100% { transform: scale(1); }
}
@-webkit-keyframes show-anim {
  0% { opacity: 0 }
  25% { opacity: 0.5 }
  100% { opacity: 1 }
}
@keyframes show-anim {
  0% { opacity: 0 }
  25% { opacity: 0.5 }
  100% { opacity: 1 }
}
.show-anim {
  -webkit-animation: show-anim 0.3s;
  animation: 0.3s show-anim;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.text-centered {
  text-align: center;
}
.button-large {
  font-size: 1.8rem;
  height: 5rem;
  line-height: 5rem;
  padding: 0 2.8rem;
}
.button-centered {
  display: block;
  margin: 0 auto;
}
.flipped-icon {
  display: inline-block;
  transform: scaleX(-1);
}
button:disabled {
  cursor: not-allowed;
}
.arrow-top::before, .arrow-top::after {
  content: '';
  bottom: 100%;
  left: 50%;
  position: absolute;
  border: solid transparent;
}
.arrow-top::before {
  border-width: 1.1rem;
  margin-left: -1.1rem;
}
.arrow-top::after {
  border-width: 1rem;
  margin-left: -1rem;
}
.arrow-right::before, .arrow-right::after {
  left: 86%;
}
.tooltip-container {
  text-align: center;
  position: absolute;
}
.tooltip {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: .4rem;
  position: relative;
}
.tooltip i {
  padding-right: 1rem;
  position: relative;
  top: 0.1rem;
}
.error-msg {
  background: #f2dede;
  color: #a94442;
  border: 1px solid #a94442;
}
.error-msg::before {
  border-bottom-color: #a94442;
}
.error-msg::after {
  border-bottom-color: #f2dede;
}
.info-msg {
  background: #f1f6ff;
  color: #aabde0;
  border: 1px solid;
}
.info-msg::before {
  border-bottom-color: #aabde0;
}
.info-msg::after {
  border-bottom-color: #f1f6ff;
}
.icon-vcheap::before {
  content: "\f153";
}
.icon-cheap::before {
  content: "\f153\f153";
}
.icon-exp::before {
  content: "\f153\f153\f153";
}
.icon-vexp::before {
  content: "\f153\f153\f153\f153";
}
.icon-background::before {
  content: '';
  display: block;
  width: 8rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 8rem;
}
.icon-starter::before {
  background-image: url('public/starter-icon.png');
}
.icon-main-course::before {
  background-image: url('public/main-course-icon.png');
}
.icon-accomp::before {
  background-image: url('public/accomp-icon.png');
}
.icon-dessert::before {
  background-image: url('public/dessert-icon.png');
}
.icon-spring::before {
  background-image: url('public/spring-icon.png');
}
.icon-summer::before {
  background-image: url('public/summer-icon.png');
}
.icon-autumn::before {
  background-image: url('public/autumn-icon.png');
}
.icon-winter::before {
  background-image: url('public/winter-icon.png');
}
.icon-button {
  cursor: pointer;
  font-size: 3rem;
  padding: 0;
  background-color: transparent;
  border: none;
  height: auto;
}
.icon-button:hover,
.icon-button:focus,
.icon-button[disabled]:hover,
.icon-button[disabled]:focus {
  background-color: transparent;
}
.icon-button i::before {
  color: #107c91;
  transition: color .1s cubic-bezier(.4,0,.2,1);
}
.icon-button:hover i::before,
.icon-button:focus i::before {
  color: #aabde0;
}
.transition-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #107c91;
  color: #fff;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 4rem;
}
.transition-image {
  display: block;
  background-image: url('public/meny.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 10rem;
  height: 10rem;
  margin: 6rem auto;
}
.transition-nav {
  text-align: center;
}
.transition-link {
  display: inline-block;
  text-align: center;
  color: #fff;
  width: 16%;
  margin: 0 10rem;
  font-size: 2rem;
  transition: color 0.2s cubic-bezier(.4,0,.2,1);
}
.transition-link:hover {
  color: #aabde0;
}
.transition-link i {
  font-size: 6rem;
}
/*loader*/
.loader-container {
  height: 150px;
}
.loader,
.loader:before,
.loader:after {
  background: #107c91;
  -webkit-animation: load 1s infinite ease-in-out;
  animation: load 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #107c91;
  text-indent: -9999em;
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
/* .container {
  min-height: 150px;
} */

.nav {
  background-color: #107c91;
  display: flex;
  justify-content: flex-end;
  height: 8rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 1rem;
  color: #fff;
}
.nav__logo {
  margin-right: auto;
  margin-left: 8rem;
  color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 8rem;
  font-weight: 700;
  position: relative;
  font-size: 3rem;
}
.nav__logo::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url('public/meny.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 10px;
  width: 50px;
  height: 50px;
}
.nav__list {
  font-size: 2.4rem;
  margin: 1rem;
}
.nav__list-item {
  margin: 1rem;
  padding: 1rem;
  transition: color 0.3s cubic-bezier(.4,0,.2,1);
  position: relative;
  color: #fff;
}
.nav__list-item:hover,
.nav__list-item:focus {
  color: #c6cedc;
}
.nav__list-item.nav__list-item--cur {
  color: #aabde0;
}
.nav__list-item::before,
.nav__list-item::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0;
  border: 2px solid #aabde0;
  will-change: transform, opacity;
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.nav__list-item::before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
  transform: translate3d(10px, 10px, 0);
}
.nav__list-item::after {
  right: 0;
  bottom: 0;
  border-width: 0 2px 2px 0;
  transform: translate3d(-10px, -10px, 0);
}
.nav__list-item--cur::before,
.nav__list-item--cur::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.nav__user {
  margin-left: 1rem;
  margin-right: 8rem;
  display: flex;
  align-items: center;
  position: relative;
}
.user-menu__button {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
  transition: border-color 0.3s;
}
.user-menu__button:hover,
.user-menu__button:focus {
  border-color: #aabde0;
}
.user-menu {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #fff;
  right: 0;
  top: 60px;
  z-index: 1;
  visibility: hidden;
  user-select: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  will-change: transform, opacity;
  transform-origin: 100% 0;
  transform: scale(0);
  transition: transform .3s cubic-bezier(.4,0,.2,1), opacity .3s cubic-bezier(.4,0,.2,1);
}
.user-menu--visible {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  transform: scale(1);
}
.user-menu__list {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  opacity: 0;
  z-index: 1;
}
.user-menu__list--visible {
  opacity: 1;
  z-index: 999;
}
.user-menu__item {
  margin: 0;
  padding: 0 2rem;
  height: 4rem;
  line-height: 4rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity .2s cubic-bezier(.4,0,.2,1)
}
.user-menu__list--visible .user-menu__item {
  opacity: 1;
}
.user-menu__item:hover {
  background-color: #c6cedc;
}
.header {
  display: flex;
  justify-content: center;
  height: 40rem;
  padding-top: 8rem;
  background-color: #f4f5f6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 4rem;
}
.content-title {
  text-align: center;
  font-style: italic;
  margin-bottom: 4rem;
  color: #107c91;
}
.main-search, .main-add {
  padding: 2rem 5rem;
  width: 100%;
  position: relative;
  align-self: center;
}
input[type='text'].main-search-bar {
  margin-bottom: 0;
  font-size: 3rem;
  height: 6rem;
  border-width: 2px;
}
.main-search__adv-link,
.main-search__reg-link {
  position: absolute;
  transition: color 0.3s;
}
.main-search__adv-link {
  color: #fff;
  font-style: italic;
  top: 8rem;
  right: 5rem;
  width: 160px;
  padding: 0 0.5rem;
}
.main-search__adv-link:hover,
.main-search__adv-link:focus {
  color: #c6cedc;
}
.main-search__reg-link {
  font-size: 3rem;
  right: 5.2rem;
  top: 2.1rem;
  padding: 0.6rem 1.2rem;
  color: #c6cedc;
}
.main-search__reg-link:hover,
.main-search__reg-link:focus {
  color: #107c91;
}
.search-settings {
  color: #fff;
  margin-top: 1.5rem;
  flex-direction: column;
}
.search-settings-fieldset {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.search-settings-group {
  flex: 1 1 33%;
  margin: 1rem;
}
.search-settings-title {
  font-size: 2rem;
}
.search-settings-fieldset label {
  margin-left: 1rem;
  margin-right: 1rem;
}
.search-settings-fieldset input[type='checkbox'] {
  margin-right: 0.5rem;
}
input[type='text'].input--invalid,
input[type='text'].input--invalid:hover,
input[type='number'].input--invalid,
input[type='number'].input--invalid:hover,
textarea.input--invalid,
textarea.input--invalid:hover   {
  border-color: #a94442;
}
input[type='checkbox'].hidden-input,
input[type='radio'].hidden-input {
  opacity: 0;
  position: absolute;
}
.main-add {
  color: #fff;
}
.add-main__title {
  text-align: center;
  position: absolute;
  left: 0;
  top: -5rem;
  width: 100%;
}
.add-form {
  width: 100%;
}
.section {
  margin: 2rem 0;
  position: relative;
}
.section__title {
  margin-bottom: 1.5rem;
}
.section__edit-actions {
  position: absolute;
  right: 1rem;
  top: -.5rem;
}
.edit-actions__button {
  margin: 0 0.8rem;
}
.add-form__user-error {
  top: 9.5rem;
  right: 4.8rem;
  position: fixed;
  z-index: 1;
}
.add-form__name-error {
  top: 9.5rem;
  left: 0;
  width: 100%;
}
.add-form__error {
  right: 1rem;
  top: -1.9rem;
}
.edit-form__error {
  right:  10rem;
  top:  -1.9rem;
}
.add-form-image {
  flex: 0 1 15%;
}
.add-form-col {
  flex: 0 0 30%;
  margin: 0 2rem;
}
.add-form-input-title {
  margin-bottom: 1rem;
}
.add-form-numberlabel {
  font-size: 2rem;
  color: #fff;
  background-color: #107c91;
  border-radius: .4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-block;
  height: 5rem;
  padding: .8rem 1rem;
  vertical-align: top;
}
.input--invalid + .add-form-numberlabel {
  background-color: #a94442;
}
input[type='text'].add-form-textfield {
  font-size: 2rem;
  height: 5rem;
}
input[type='number'].add-form-numberfield {
  font-size: 2rem;
  height: 5rem;
  width: 8rem;
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
}
.input-list__label, .input-list__button {
  font-weight: 300;
  flex: 0 0 auto;
}
.input-list__label, .input-list__controls {
  font-size: 2.5rem;
  width: 3.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-list__remove {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}
.input-list__control {
  height: 2rem;
  width: 1.6rem;
  position: relative;
}
.input-list__control i {
  position: absolute;
  left: 0;
}
.input-list__control .icon-sort-up {
  top: 0;
}
.input-list__control .icon-sort-down {
  bottom: 0;
}
.add-form__radio-group {
  text-align: center;
  flex: 0 1 auto;
  margin: 1rem 2rem 0;
  cursor: pointer;
  opacity: 0.3;
  width: 14rem;
  position: relative;
  transition: opacity .2s, color .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.add-form__radio-group:hover,
.add-form__radio-group:focus,
input[type="radio"]:focus + .add-form__radio-group {
  opacity: 1;
}
.add-form__radio-group span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  margin: 0 auto 1rem;
  border-radius: 50%;
  border: 2px solid #107c91;
  transition: background-color .2s cubic-bezier(.4,0,.2,1);
}
.add-form__radio-group .icon-background-container {
  border: none;
}
.add-form__radio-group i {
  font-size: 3.5rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #107c91;
  transition: color .2s cubic-bezier(.4,0,.2,1);
}
input[type="radio"]:checked + .add-form__radio-group {
  opacity: 1;
  color: #107c91;
  -webkit-animation: select-radio 0.3s;
  animation: select-radio 0.3s;
}
input[type="radio"]:checked + .add-form__radio-group span {
  background-color: #107c91;
}
input[type="radio"]:checked + .add-form__radio-group .icon-background-container {
  background-color: transparent;
}
input[type="radio"]:checked + .add-form__radio-group i {
  color: #fff;
}
input[type="radio"]:checked + .add-form__radio-group .icon-background-container i {
  color: #107c91;
}
.card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  max-width: 100%;
  background: #fff;
  border-radius: 2px;
  position: relative;
  display: flex;
  margin: 1rem 0;
}
.wide-card {
  border: 1px solid rgba(0,0,0,0.2);
  flex-direction: column;
  flex: 1 1 100%;
}
.small-card {
  flex: 1 1 50%;
}
.card__image {
  flex: 1 0 auto;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.wide-card .card__image {
  height: 160px;
  display: flex;
  padding: 1.6rem;
}
.card__image-text {
  align-self: flex-end;
  color: #fff;
  font-style: italic;
  margin: 0;
}
.card__content {
  width: 60%;
  padding: 1.6rem;
  display: flex;
  flex-wrap: wrap;
}
.card__title, .card__text, .card__infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card__title {
  flex: 1 0 auto;
}
.card__title, .card__infos {
  margin-bottom: 1.6rem;
}
.card__text {
  border-top: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  padding-top: 1rem;
}
.wide-card .card__text {
  padding: 1.6rem;
}
.card__infos {
  width: 60px;
  font-size: 2rem;
}
.card__infos img {
  width: 2rem;
  position: relative;
  top: 0.2rem;
}
.footer {
  margin-top: 6rem;
}
.footer__text span {
  font-size: 1rem;
  font-style: italic;
}

@media (min-width: 40rem) {
  .main-search, .main-add, .add-form {
    width: 780px;
  }
  .card {
    margin: 1.6rem;
  }
  .wide-card {
    margin: 3.2rem 1.6rem;
  }
}
