.recipe-main {
  display: flex;
  color: #fff;
  width: 100%;
}
.recipe-main__infos {
  width: 80%;
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.recipe-main__edit-actions {
  position: absolute;
  right: 0;
  top: 10rem;
  width: 4rem;
}
.recipe-main__edit-actions .icon-button i::before {
  color: #fff;
}
.recipe-desc__edit {
  font-size: 2rem;
}
.recipe-author {
  font-style: italic;
  position: absolute;
  bottom: 0;
}
.recipe-main__media {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-list__label, .recipe-list__index {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.recipe-list__label {
  flex: 1 0 0;
  font-size: 2rem;
  min-height: 5rem;
}
.recipe-list__index {
  font-size: 2.5rem;
  flex: 0 0 auto;
  margin-right: 1rem;
}
.recipe-list__index span {
  background-color: #107c91;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 4rem;
}
.recipe-details {
  font-size: 2rem;
}
.recipe-details img {
  width: 2rem;
}
.recipe-notes {
  font-size: 2rem;
}
.recipe textarea {
  min-height: 5rem;
}
