.recipe-main {
  display: flex;
  color: #fff;
  width: 100%;
}
.recipe-main__infos {
  width: 80%;
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.recipe-desc__edit {
  font-size: 2rem;
}
.recipe-author {
  font-style: italic;
  position: absolute;
  bottom: 0;
}
.recipe-main__media {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-main__media a {
  color: #fff;
  font-size: 3rem;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.recipe-main__media a:hover,
.recipe-main__media a:focus {
  color: #c6cedc;
}

.recipe-list__label,
.recipe-list__index {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.recipe-list__label {
  flex: 1 0 0;
  font-size: 2rem;
  min-height: 5rem;
  white-space: pre-line;
}
.recipe-list__index {
  font-size: 2.5rem;
  flex: 0 0 auto;
  margin-right: 1rem;
}
.recipe-list__index span {
  background-color: #107c91;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 4rem;
}
.recipe-details {
  font-size: 2rem;
  display: flex;
}
.recipe-details img {
  width: 2rem;
}
.recipe-details__part {
  position: relative;
  flex: 0 0 50%;
}
.recipe-details__right {
  text-align: right;
}
.recipe-details__select {
  width: 22rem;
  margin-bottom: 0;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.8rem;
}
input[type="number"].edit-number-input {
  width: 5rem;
  height: 3rem;
  padding: 0.4rem;
  margin: 0;
}
.recipe-notes {
  font-size: 2rem;
}
.recipe textarea {
  min-height: 5rem;
}
.floating-actions {
  overflow: hidden;
  position: fixed;
  color: #fff;
  bottom: 2rem;
  right: 2rem;
  padding: 2rem;
  z-index: 2;
}
.edit-button {
  font-size: 2.6rem;
  border-radius: 50%;
  margin: 1rem 0 0;
  width: 6rem;
  height: 6rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-button:focus {
  box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.2), 0 1px 10px 2px rgba(0, 0, 0, 0.2),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
